<template>
    <div class="bg-gray-50">
        <navbar></navbar>
        <div
            class=" flex mx-auto  flex-col w-2/4 mt-10 mb-10 rounded-3xl bg-gray-50 shadow-2xl p-5"
        >
            <div class="text-2xl font-extrabold text-blue-900 mx-auto my-5">
                Faire une reservation
            </div>
            <div class="w-full mx-auto p-5">
                <form
                    method="post"
                    enctype="multipart/form-data"
                    class="mx-auto"
                    @submit.prevent="store"
                >
                    <div class="flex mb-5 mx-auto">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Nom du reservant
                        </label>
                        <input
                            type="text"
                            id="nom"
                            v-model="nom"
                            class="form-input rounded w-2/3"
                            placeholder="John Doe"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Pays du reservant
                        </label>
                        <input
                            type="text"
                            id="nom"
                            v-model="pays"
                            class="form-input rounded w-2/3"
                            placeholder="Cameroun"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Ville du reservant
                        </label>
                        <input
                            type="text"
                            id="nom"
                            v-model="ville"
                            class="form-input rounded w-2/3"
                            placeholder="Yaounde"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                           Telephone du reservant
                        </label>
                        <input
                            type="number"
                            id="nom"
                            v-model="tel"
                            class="form-input rounded w-2/3"
                            placeholder=""
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            email
                        </label>
                        <input
                            type="email"
                            id="nom"
                            v-model="email"
                            class="form-input rounded w-2/3"
                            placeholder=""
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Date debut de la reservation
                        </label>
                        <input
                            type="date"
                            id="nom"
                            v-model="dated"
                            class="form-input rounded w-2/3"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Date fin de la reservation
                        </label>
                        <input
                            type="date"
                            id="nom"
                            v-model="datef"
                            class="form-input rounded w-2/3"
                        />
                    </div>

                    <div class="flex mx-auto mb-5 mt-10 justify-center ">
                        <input
                            type="submit"
                            value="Reserver"
                            class="rounded-full bg-blue-900 text-white py-2 px-3 cursor-pointer font-extrabold mr-10 w-28"
                        />
                        <input
                            type="reset"
                            value="Annuler"
                            class="rounded-full bg-red-600 text-white py-2 px-3 cursor-pointer font-extrabold ml-10 w-28"
                        />
                    </div>
                </form>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Navbar from "../Components/Navbar";
import Footer from "../Components/Footer";
export default {
    components: {
        Navbar,
        Footer
    },
    data() {
        return {
            nom: "",
            pays: "",
            ville: "",
            tel: "",
            email: "",
            dated: "",
            datef: "",
        };
    },
    methods: {
        store(event) {
            var data = new FormData();
            data.append("name", this.nom || "");
            data.append("pays", this.pays || "");
            data.append("ville", this.ville || "");
            data.append("tel", this.tel || "");
            data.append("email", this.email || "");
            data.append("dated", this.dated || "");
            data.append("datef", this.datef || "");

            this.$inertia.post("/reservation", data);
        }
    }
};
</script>
