<template>
    <dashboard>
        <div
            class=" flex mx-auto  flex-col w-3/4 mt-10 rounded-3xl bg-gray-50 shadow-2xl p-5"
        >
            <div class="text-2xl font-extrabold text-blue-900 mx-auto my-5">
                Ajouter un lieu de logement
            </div>
            <div class="w-full mx-auto p-5">
                <form
                    method="post"
                    @submit.prevent="store"
                    enctype="multipart/form-data"
                    class="mx-auto"
                >
                    <div class="flex mb-5 mx-auto">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Nom du lieu
                        </label>
                        <input
                            type="text"
                            id="nom"
                            v-model="name"
                            class="form-input rounded w-2/3"
                            placeholder="Résidence Talla"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="contact" class="text-xl py-2 w-1/3">
                            Contact
                        </label>
                        <input
                            type="number"
                            id="contact"
                            v-model="contact"
                            class="form-input rounded w-2/3"
                            placeholder="237 XXXXXXXX"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="localisation" class="text-xl py-2 w-1/3">
                            Localisation
                        </label>
                        <input
                            type="text"
                            id="localisation"
                            v-model="localisation"
                            class="form-input rounded w-2/3"
                            placeholder="Dschang-Foto"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="description" class="text-xl py-2 w-1/3">
                            Description
                        </label>
                        <textarea
                            class="form-textarea mt-1 block w-2/3 rounded-l-md"
                            rows="4"
                            v-model="description"
                            placeholder="Donner la description du lieu logement"
                        ></textarea>
                    </div>

                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Image du lieu
                        </label>
                        <input
                            type="file"
                            @change="fileUpload"
                            class="rounded w-2/3 py-3"
                            placeholder="Dschang-Foto"
                        />
                    </div>

                    <div class="flex mx-auto mb-5 mt-10 justify-center ">
                        <input
                            type="submit"
                            value="Ajouter"
                            class="rounded-full bg-blue-900 text-white py-2 px-3 cursor-pointer font-extrabold mr-10 w-28"
                        />
                        <input
                            type="reset"
                            value="Annuler"
                            class="rounded-full bg-red-600 text-white py-2 px-3 cursor-pointer font-extrabold ml-10 w-28"
                        />
                    </div>
                </form>
            </div>
        </div>
    </dashboard>
</template>
<script>
import Dashboard from "@/Pages/Dashboard";
export default {
    components: {
        Dashboard
    },
    data() {
        return {
            name: "",
            localisation: "",
            description: "",
            contact: "",
            image: []
        };
    },
    methods: {
        store() {
            let form = new FormData();
            form.append("name", this.name);
            form.append("localisation", this.localisation);
            form.append("description", this.description);
            form.append("contact", this.contact);
            form.append("image", this.image);

            this.$inertia.post("/logements", form);
        },
        fileUpload(event) {
            this.image = event.target.files[0];
        }
    },
    mounted() {
        console.log(route().current("logement.add"));
    }
};
</script>
