<template>
    <div>
        <navbar></navbar>
        <div>
            <div
                v-for="siteGroup in paginatedSite"
                :key="siteGroup.id"
                class="flex"
            >
                <div
                    v-for="site in siteGroup"
                    :key="site.id"
                    class="w-1/2 py-5"
                >
                    <div class="mx-auto ml-10 mr-10 shadow-2xl">
                        <div>
                            <img :src="'/images/sites/' + site.image" />
                        </div>
                        <div class="mx-auto text-xl font-bold text-center pt-5">
                            {{ site.name }}
                        </div>
                        <p class="text-justify pl-5 pr-5 pt-5">
                            {{ site.description | truncate(120) }}
                        </p>
                        <div class="flex pb-6 justify-between">
                            <a
                                :href="'/sites/' + site.id"
                                class="mx-auto mt-10 bg-yellow-700 rounded p-2 text-white font-bold hover:bg-yellow-800"
                            >
                                Voir plus
                            </a>
                            <a
                                :href="'/reservation/' + site.id"
                                class="mx-auto mt-10 bg-blue-800 rounded p-2 text-white font-bold hover:bg-blue-900"
                            >
                                Reserver
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6"
            >
                <div class="flex-1 flex justify-between sm:hidden">
                    <a
                        href="#"
                        class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"
                    >
                        Previous
                    </a>
                    <a
                        href="#"
                        class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500"
                    >
                        Next
                    </a>
                </div>
                <div
                    class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between"
                >
                    <!-- <div>
                        <p class="text-sm text-gray-700">
                            Showing
                            <span class="font-medium">1</span>
                            to
                            <span class="font-medium">10</span>
                            of
                            <span class="font-medium">97</span>
                            results
                        </p>
                    </div> -->
                    <div>
                        <nav
                            class="relative z-0 inline-flex shadow-sm -space-x-px"
                            aria-label="Pagination"
                        >
                            <a
                                href="#"
                                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                            >
                                <span class="sr-only">Previous</span>
                                <!-- Heroicon name: chevron-left -->
                                <svg
                                    class="h-5 w-5"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </a>
                            <a
                                href="#"
                                class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50"
                                v-for="i in totalPages"
                                :key="i"
                            >
                                {{ i }}
                            </a>

                            <a
                                href="#"
                                class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                            >
                                <span class="sr-only">Next</span>
                                <!-- Heroicon name: chevron-right -->
                                <svg
                                    class="h-5 w-5"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
import Navbar from "../Components/Navbar";
import Footer from "../Components/Footer";

export default {
    components: {
        Navbar,
        Footer
    },
    props: ["sites"],
    data() {
        return {
            siteList: this.sites
        };
    },
    computed: {
        chunkSites() {
            const result = [];
            for (let i = 0; i < this.siteList.length; i += 2) {
                result.push(this.siteList.slice(i, i + 2));
            }
            return result;
        },
        paginatedSite(begin, end) {
            return this.chunkSites.slice(0, 3);
        },
        totalPages() {
            return Math.round(this.chunkSites.length / 2);
        }
    },
    filters: {
        truncate(text, stop) {
            return text.slice(0, stop) + (stop < text.length ? "..." : "");
        }
    },
    mounted() {
        console.log(this.siteList);
    }
};
</script>
