<template>
    <div class="leading-normal tracking-normal" id="main-body">
        <div class="flex flex-wrap">
            <Sidebar />

            <div
                class="w-full bg-gray-300 pl-0 lg:pl-64 min-h-screen"
                id="main-content"
            >
                <NavbarCon />

                <!-- CONTENT-->
                <slot class="flex-grow"></slot>

                <div class="p-6 bg-gray-300 mb-2 h-2"></div>

                <Footer />
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import Welcome from "@/Jetstream/Welcome";
import NavbarCon from "./Components/NavbarCon.vue";
import Sidebar from "./Components/Sidebar.vue";
import Footer from "./Components/Footer.vue";

export default {
    components: {
        AppLayout,
        Welcome,
        NavbarCon,
        Sidebar,
        Footer
    }
};
</script>
