<template>
    <dashboard>
        <div
            class=" flex mx-auto  flex-col w-3/4 mt-10 rounded-3xl bg-gray-50 shadow-2xl p-5"
        >
            <div class="text-2xl font-extrabold text-blue-900 mx-auto my-5">
                Ajouter un produit
            </div>
            <div class="w-full mx-auto p-5">
                <form
                    method="post"
                    enctype="multipart/form-data"
                    class="mx-auto"
                    @submit.prevent="store"
                >
                    <div class="flex mb-5 mx-auto">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Nom
                        </label>
                        <input
                            type="text"
                            id="nom"
                            v-model="nom"
                            class="form-input rounded w-2/3"
                            placeholder="Masque Nkouegang en fibre de raphia"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Prix
                        </label>
                        <input
                            type="number"
                            id="nom"
                            v-model="prix"
                            class="form-input rounded w-2/3"
                            placeholder="5000 FCFA"
                        />
                    </div>
                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Contact du vendeur
                        </label>
                        <input
                            type="number"
                            id="nom"
                            v-model="contact"
                            class="form-input rounded w-2/3"
                            placeholder="237 XXXXXXXX"
                        />
                    </div>

                    <div class="flex mb-5">
                        <label for="nom" class="text-xl py-2 w-1/3">
                            Image du produit
                        </label>
                        <input
                            type="file"
                            @change="fileToUpload"
                            id="fileToUpload"
                            class="rounded w-2/3 py-3"
                            placeholder="Dschang-Foto"
                        />
                    </div>

                    <div class="flex mx-auto mb-5 mt-10 justify-center ">
                        <input
                            type="submit"
                            value="Ajouter"
                            class="rounded-full bg-blue-900 text-white py-2 px-3 cursor-pointer font-extrabold mr-10 w-28"
                        />
                        <input
                            type="reset"
                            value="Annuler"
                            class="rounded-full bg-red-600 text-white py-2 px-3 cursor-pointer font-extrabold ml-10 w-28"
                        />
                    </div>
                </form>
            </div>
        </div>
    </dashboard>
</template>
<script>
import Dashboard from "@/Pages/Dashboard";

export default {
    components: {
        Dashboard
    },
    data() {
        return {
            nom: "",
            prix: "",
            contact: "",
            fileToUploadName: []
        };
    },
    methods: {
        store(event) {
            var data = new FormData();
            data.append("name", this.nom || "");
            data.append("prix", this.prix || "");
            data.append("contact", this.contact || "");
            data.append("fileToUpload", this.fileToUploadName || "");

            this.$inertia.post("/produit", data);
        },
        fileToUpload(e) {
            this.fileToUploadName = e.target.files[0];
        }
    }
};
</script>
