<template>
    <dashboard>
        <div class="bg-gray-100">
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <div v-if="$page.props.jetstream.canUpdateProfileInformation">
                    <update-profile-information-form :user="$page.props.user" />

                    <jet-section-border />
                </div>

                <div v-if="$page.props.jetstream.canUpdatePassword">
                    <update-password-form class="mt-10 sm:mt-0" />

                    <jet-section-border />
                </div>

                <!-- <div
                    v-if="
                        $page.props.jetstream.canManageTwoFactorAuthentication
                    "
                >
                    <two-factor-authentication-form class="mt-10 sm:mt-0" />

                    <!--<jet-section-border />-->
                <!-- </div> -->

                <!--<logout-other-browser-sessions-form :sessions="sessions" class="mt-10 sm:mt-0" />-->

                <!-- <template
                    v-if="$page.props.jetstream.hasAccountDeletionFeatures"
                >
                    <jet-section-border />

                    <delete-user-form class="mt-10 sm:mt-0" />
                </template> -->
            </div>
        </div>
    </dashboard>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import DeleteUserForm from "./DeleteUserForm";
import JetSectionBorder from "@/Jetstream/SectionBorder";
import LogoutOtherBrowserSessionsForm from "./LogoutOtherBrowserSessionsForm";
import TwoFactorAuthenticationForm from "./TwoFactorAuthenticationForm";
import UpdatePasswordForm from "./UpdatePasswordForm";
import UpdateProfileInformationForm from "./UpdateProfileInformationForm";
import Navbar from "@/Pages/Components/Navbar.vue";
import Footer from "@/Pages/Components/Footer.vue";
import Dashboard from "@/Pages/Dashboard.vue";

export default {
    props: ["sessions"],

    components: {
        AppLayout,
        DeleteUserForm,
        JetSectionBorder,
        LogoutOtherBrowserSessionsForm,
        TwoFactorAuthenticationForm,
        UpdatePasswordForm,
        UpdateProfileInformationForm,
        Navbar,
        Footer,
        Dashboard
    }
};
</script>
